---
import { BlogPost } from '../types'
import { List } from 'immutable'
import { DateTime } from 'luxon'
import BaseHead from '../components/BaseHead.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const mds = await Astro.glob<BlogPost>('./blog/*.(md|mdx)')
const publishablePosts = List(mds)
	.map(post => ({
		title: post.frontmatter.title,
		href: post.url,
		draft: post.frontmatter.draft,
		date: DateTime.fromISO(post.frontmatter.date).toISODate(),
	}))
	.filter(post => !post.draft)
	.sort((postA, postB) => {
		const dateA = new Date(postA.date)
		const dateB = new Date(postB.date)

		return dateB.valueOf() - dateA.valueOf()
	})
	.toJS()

const headProps = {
	title: "Roberto Tonino's corner",
	description: "The homepage of Roberto Tonino's website.",
	permalink: new URL(Astro.url.pathname, Astro.site),
}
---

<html lang="en">
	<head>
		<BaseHead {...headProps} />
	</head>
	<body>
		<BaseLayout>
			<section class="container px-2 sm:px-6">
				<h1 class="mb-12" set:html={headProps.title}></h1>

				<h2 class="mb-10">Blog posts 🗃️</h2>
				<div class="space-y-8">
					{
						publishablePosts.map(({ title, href, date }) => (
							<a
								rel="prefetch"
								href={href}
								class="_border-2 block border-solid border-primary-600 p-4 text-foreground no-underline hover:bg-white hover:bg-opacity-10 "
							>
								<h3>{title}</h3>
								<time datetime={date} class="post-date text-xs capitalize text-opacity-75">
									{date}
								</time>
							</a>
						))
					}
				</div>
			</section>
		</BaseLayout>

		<script>
			const $dateEls = document.querySelectorAll('time')

			$dateEls.forEach($dateEl => {
				const date = $dateEl.getAttribute('datetime')
				const options = {
					weekday: 'long',
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				}
				$dateEl.innerText = new Date(date).toLocaleString(window.navigator.language, options)
			})
		</script>
	</body>
</html>
