---
import { DateTime } from 'luxon'

import BaseLayout2 from './BaseLayout2.astro'

const { title, description, date, revisionDate = null, lang = 'en-us' } = Astro.props.content
const permalink = new URL(Astro.url.pathname, Astro.site)

const isoDate = DateTime.fromISO(date).toISODate()
const formattedDate = DateTime.fromISO(date).setLocale(lang).toLocaleString(DateTime.DATE_MED)

const isoRevisionDate = DateTime.fromISO(revisionDate).toISODate()
const formattedRevisionDate = DateTime.fromISO(revisionDate).setLocale(lang).toLocaleString(DateTime.DATE_MED)

const headProps = {
	title,
	description,
	permalink,
}
---

<style>
	.intro,
	.content,
	.title {
		font-family: sans-serif;
		font-weight: 600;
		font-size: 3rem;
		padding-left: 1rem;
	}

	.title {
		font-size: 4rem;
		text-transform: uppercase;
	}

	.intro {
		text-transform: uppercase;
		margin-top: 2rem;
	}

	.content {
		font-family: 'Lora', serif;
		margin-top: 2rem;
		font-weight: 500;
		font-size: 2rem;
		margin-bottom: 5rem;
	}
</style>

<style is:inline>
	.content {
		a {
      color: var(--color-foreground);

      &:hover {
      color: var(--color-secondary);
      }
		}
	}
</style>

<BaseLayout2>
	<h1 class="title">{title}</h1>

	<section class="intro">
		{
			date && (
				<p>
					<span>Posted on:&nbsp;</span>
					<time id="date" datetime={isoDate}>
						{formattedDate}
					</time>
				</p>
			)
		}
		{
			revisionDate && (
				<p>
					<span>Updated on:</span>
					<time id="date" datetime={isoRevisionDate}>
						{formattedRevisionDate}
					</time>
				</p>
			)
		}
	</section>

	<section class="content">
		<slot />
	</section>
</BaseLayout2>
