---
import { DateTime } from 'luxon'

import BaseLayout2 from './BaseLayout2.astro'

const { title, description, date, revisionDate = null, lang = 'en-us' } = Astro.props.content
const permalink = new URL(Astro.url.pathname, Astro.site)

const isoDate = DateTime.fromISO(date).toISODate()
const formattedDate = DateTime.fromISO(date).setLocale(lang).toLocaleString(DateTime.DATE_MED)

const isoRevisionDate = DateTime.fromISO(revisionDate).toISODate()
const formattedRevisionDate = DateTime.fromISO(revisionDate).setLocale(lang).toLocaleString(DateTime.DATE_MED)

const headProps = {
	title,
	description,
	permalink,
}
---

<style>
	.intro,
	.content,
	.title {
		font-family: sans-serif;
		font-weight: 600;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.title {
		font-size: 4rem;
		font-size: var(--font-size-fluid-3);
		text-transform: uppercase;
		padding-top: 1rem;
	}

	.intro {
		font-size: var(--font-size-5);
		text-transform: uppercase;
		margin-top: var(--size-7);
	}

	.content {
		font-family: 'Lora', serif;
		margin-top: var(--size-7);
		font-weight: 500;
		font-size: var(--font-size-5);
		margin-bottom: 5rem;
	}
</style>

<style is:inline>
	.content {
		a {
			color: var(--color-foreground);

			&:hover {
				background-color: var(--color-secondary);
			}
		}

		pre {
			/* Default value I found with devtools */
			--margin: 32px;
			margin-top: var(--margin);
			margin-bottom: var(--margin);
			/* Needed for "Copy" button */
			position: relative;

			.copy {
				font-size: 1rem;
				height: var(--margin);
				position: absolute;
				right: 0.5rem;
				top: calc(-1 * var(--margin));
			}
		}

		code {
			overflow-x: scroll;
			white-space: pre-wrap;
		}

		p {
			margin-top: 0.75rem;
		}
	}
</style>

<BaseLayout2>
	<h1 class="title">{title}</h1>

	<section class="intro">
		{
			date && (
				<p>
					<span>Posted on:&nbsp;</span>
					<time id="date" datetime={isoDate}>
						{formattedDate}
					</time>
				</p>
			)
		}
		{
			revisionDate && (
				<p>
					<span>Updated on:&nbsp;</span>
					<time id="date" datetime={isoRevisionDate}>
						{formattedRevisionDate}
					</time>
				</p>
			)
		}
	</section>

	<section class="content">
		<slot />
	</section>

	<script>
		const $preBlocks = document.querySelectorAll('pre')

		for (const $preBlock of $preBlocks.values()) {
			console.log($preBlock)
			const copyButton = document.createElement('button')
			copyButton.classList.add('copy')
			copyButton.textContent = 'Copy'

			copyButton.addEventListener('click', () => {
				const $codeBlock = $preBlock.querySelector('code')
				const textToCopy = $codeBlock.textContent
				const invisibleInput = document.createElement('input')
				invisibleInput.style.opacity = '0'
				invisibleInput.setAttribute('value', textToCopy)
				document.body.append(invisibleInput)
				invisibleInput.select()

				document.execCommand('copy')
				invisibleInput.remove()
			})

			$preBlock.prepend(copyButton)
		}
	</script>
</BaseLayout2>
